<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="http://localhost:4000/company/dashboard/dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>


<body ng-app="myApp" ng-controller="myCtrl" ng-init="onInit()">
    <div class="modal" id="addPropertyModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add a property</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="container">

                        <form ng-submit="createProperty()">


                            <div class="form-group">
                                <label for="name">Price:</label>
                                <input type="number" class="form-control" id="name" ng-model="newProperty.price"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="location">Location:</label>
                                <select class="form-control" id="location" ng-model="newProperty.location" required>
                                    <option value="">Select location</option>
                                    <option value="New York">New York</option>
                                    <option value="Los Angeles">Los Angeles</option>
                                    <option value="Chicago">Chicago</option>
                                    <option value="Houston">Houston</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="location">Type:</label>
                                <select class="form-control" id="type" ng-model="newProperty.type" required>
                                    <option value="">Select type</option>
                                    <option value="Residential">Residential</option>
                                    <option value="Commercial">Commercial</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="location">Phase:</label>
                                <select class="form-control" id="type" ng-model="newProperty.phase" required>
                                    <option value="">Select phase</option>
                                    <option value="upcoming">upcoming</option>
                                    <option value="ongoing">ongoing</option>
                                    <option value="completed">completed</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="name">Area: (sq. ft.)</label>
                                <input type="number" class="form-control" id="name" ng-model="newProperty.area"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="name">Beds: </label>
                                <input type="number" class="form-control" id="name" ng-model="newProperty.numBeds"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="name">Baths: </label>
                                <input type="number" class="form-control" id="name" ng-model="newProperty.numBath"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="name">Additional info:(optional) </label>
                                <textarea name="" class="form-control" id="" ng-model="newProperty.info" required
                                    cols="30" rows="10"></textarea>

                            </div>
                            <div class="form-group">
                                <label for="image1">Images:</label>
                                <input name="image1" type="file" accept="image/*"
                                    onchange="angular.element(this).scope().uploadImage(event,0)">

                            </div>
                            <div class="form-group">
                                <label for="image2">Images:</label>
                                <input name="image2" type="file" accept="image/*"
                                    onchange="angular.element(this).scope().uploadImage(event,1)">
                            </div>
                            <div class="form-group">
                                <label for="image3">Images:</label>
                                <input name="image3" type="file" accept="image/*"
                                    onchange="angular.element(this).scope().uploadImage(event,2)">
                            </div>
                            <div class="form-group">


                                <p>Previews:</p>
                                <div class="imgPreviewContainer">
                                    <div ng-if="prevewImages[0]!=null" class="imgPreviewCard">
                                        <div class="imgPreviewCard-content">
                                            <img src={{prevewImages[0]}} alt="aa" class="preview">
                                        </div>
                                        <button ng-click="removePhoto(0)" class="btn btn-danger">delete</button>

                                    </div>
                                    <div ng-if="prevewImages[1]!=null" class="imgPreviewCard">
                                        <div class="imgPreviewCard-content">
                                            <img src={{prevewImages[1]}} alt="aaa" class="preview">

                                        </div>
                                        <button ng-click="removePhoto(1)" class="btn btn-danger">delete</button>

                                    </div>
                                    <div ng-if="prevewImages[2]!=null" class="imgPreviewCard">
                                        <div class="imgPreviewCard-content">
                                            <img src={{prevewImages[2]}} alt="aaaa" class="preview">

                                        </div>
                                        <button ng-click="removePhoto(2)" class="btn btn-danger">delete</button>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <button type="submit" class="btn btn-success"
                                        ng-disabled="myForm.$invalid">Submit</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!-- <div class="container">

        <div class="modal fade" id="detailsModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">{{selectedCompany.name}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 img-container">
                                    <img src={{selectedCompany.image}} alt="My Profile Picture">
                                </div>
                                <div class="col-md-6">
                                    <div class="card">

                                        <p><strong>Email:</strong> {{selectedCompany.email}}</p>
                                        <p><strong>Phone:</strong> {{selectedCompany.phoneNumbers}}</p>
                                        <p><strong>Location:</strong> {{selectedCompany.location}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </div> -->

    <div class="container">
        <h2>{{company.name}}</h2>
        <div class="container">
            <div class="row" style="align-items: center;">
                <div class="col-md-6 img-container">
                    <img src={{company.image}} alt="Company Profile Picture">
                </div>
                <div class="col-md-6">
                    <div class="card">

                        <p><strong>Email:</strong> {{company.email}}</p>
                        <p><strong>Phone:</strong> {{company.phoneNumbers}}</p>
                        <p><strong>Location:</strong> {{company.location}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="border: 1px solid;margin: 10px;padding: 10px;">
            <div style="display: flex;align-items: center ;justify-content: space-around;margin: 10px;">
                <h5>Property List</h5>
                <button ng-click="openModal()" class="btn btn-primary">+</button>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th><input type="text" ng-model="search.location" class="form-control"
                                placeholder="Search location"></th>
                        <th><input type="text" ng-model="search.price" class="form-control" placeholder="Search price">
                        </th>
                        <th>
                            <input type="text" ng-model="search.owner" class="form-control" placeholder="Search Owner">
                        </th>
                    </tr>
                    <tr>
                        <th>Photo</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Owner</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="property in ownedProperties | filter:search">
                        <td> <img style="width: 150px;" class="companyImageTable" src={{property.images[0]}} alt="">
                        </td>
                        <td> {{property.location}} </td>
                        <td>{{ property.price }}</td>
                        <td>{{ property.newOwnerName }}</td>
                        <td> <button ng-click="viewProperty(property.id)" class="btn btn-success">View</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="http://localhost:4000/js/global.js"></script>
    <script src="http://localhost:4000/company/dashboard/dashboard.js"> </script>
</body>

</html>