<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<style>
    img.demoImage {
        width: 70%;
        max-width: 70%;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
    }

    td {
        vertical-align: middle !important;
    }

    .card {
        padding: 20px;
        box-shadow: 0px 0px 5px #888888;
    }

    .img-container {
        display: flex;
        align-items: center;
    }

    .img-container img {
        width: 100%;

        margin-right: 20px;
    }

    @media (max-width: 767px) {
        .img-container img {
            margin-right: 0px;
        }

        .img-container {
            flex-direction: column;
            align-items: center;
        }
    }
</style>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="justify-content:space-between">
        <!-- Brand/logo -->
        <a class="navbar-brand">
            <h2> Admin panel</h2>
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">


                <button type="button" class="btn btn-danger" ng-click="logOut()">Log out</button>
            </li>

        </ul>
    </nav>
    <br><br><br><br><br>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add a company</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">

                        <form ng-submit="createCompany()">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" ng-model="newCompany.email"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="tel" class="form-control" id="phone" ng-model="newCompany.phoneNumbers"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" ng-model="newCompany.name" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Password:</label>
                                <input type="password" class="form-control" id="ps" ng-model="newCompany.password"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="location">Location:</label>
                                <select class="form-control" id="location" ng-model="newCompany.location" required>
                                    <option value="">Select location</option>
                                    <option value="New York">New York</option>
                                    <option value="Los Angeles">Los Angeles</option>
                                    <option value="Chicago">Chicago</option>
                                    <option value="Houston">Houston</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="image">Image:</label>
                                <input type="file" id="image" accept="image/*"
                                    onchange="angular.element(this).scope().uploadImage(event)">
                                <p>Preview:</p>
                                <img class="demoImage" src={{newCompany.image}} alt="">
                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <button type="submit" class="btn btn-success"
                                    ng-disabled="myForm.$invalid">Submit</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                            </div>
                        </form>
                    </div>
                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div>

    <div class="container">
        <!-- Button to Open the Modal -->

        <!-- The Modal -->
        <div class="modal fade" id="detailsModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">{{selectedCompany.name}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 img-container">
                                    <img src={{selectedCompany.image}} alt="My Profile Picture">
                                </div>
                                <div class="col-md-6">
                                    <div class="card">

                                        <p><strong>Email:</strong> {{selectedCompany.email}}</p>
                                        <p><strong>Phone:</strong> {{selectedCompany.phoneNumbers}}</p>
                                        <p><strong>Location:</strong> {{selectedCompany.location}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="container" ng-init="onInit()">
        <div style="display: flex;align-items: center ;justify-content: space-around;">
            <h2>Company List</h2>
            <button ng-click="openModal()" class="btn btn-primary">+</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="text" ng-model="search.email" class="form-control" placeholder="Search Email"></th>
                    <th><input type="text" ng-model="search.phoneNumbers" class="form-control"
                            placeholder="Search phoneNumbers"></th>
                    <th><input type="text" ng-model="search.location" class="form-control"
                            placeholder="Search Location"></th>
                </tr>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Location</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="company in companies | filter:search">
                    <td> <img style="width: 150px;" class="companyImageTable" src={{company.image}} alt=""> </td>
                    <td> {{company.name}} </td>
                    <td>{{ company.email }}</td>
                    <td>{{ company.phoneNumbers }}</td>
                    <td>{{ company.location }}</td>
                    <td>
                        <button ng-click="updateProhibition(company)" class="btn btn-success">
                            <p ng-if="company.isProhibited==0">Prohibit</p>
                            <p ng-if="company.isProhibited==1">Cancel prohibition</p>


                        </button>
                    </td>
                    <td> <button ng-click="viewCompany(company.id)" class="btn btn-success">View</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="http://localhost:4000/js/global.js"></script>
    <script src="http://localhost:4000/admin/dashboard/dashboard.js"> </script>
</body>

</html>